<apex:page standardController="Additional_Resource__c" extensions="Additional_Resource_Ctrl">
    <apex:sectionHeader title="Additional Resource Edit" subtitle="New Additional Resource"/>
      <apex:form >
      <apex:outputpanel id="pageDirection">
      <script>
          var pageRed ='{!pageDirection}';
          
          if(pageRed.toString() == 'true')
          {
            window.open('/apex/AdditionalResourceCategory','_top');
          }
        </script>
        </apex:outputpanel>
           <apex:pageBlock Title="Additional Resource Edit">
                <apex:pagemessages id="PageMsg"></apex:pagemessages>
               <apex:pageBlockButtons >                              
                   <apex:commandButton value="Save" action="{!doSave}" rerender="pageDirection,PageMsg" />
                   <!--apex:commandButton value="Save And New" action="{!doSaveAndNew}"/-->
                   <apex:commandButton value="Cancel" action="{!doCancel}" rerender="pageDirection,PageMsg"  immediate="true"/>                   
               </apex:pageBlockButtons>               
               <apex:pageBlockSection collapsible="false" Title="Information" >               
                   <apex:inputField value="{!Additional_Resource__c.Additional_Resource_Name__c}"/>
                   <!--apex:inputField value="{!Additional_Resource__c.Resource_Category__c}"/-->
                   <apex:inputField value="{!Additional_Resource__c.Data__c}"/>
                   <apex:inputField value="{!Additional_Resource__c.Description__c}"/>
                   <apex:inputField value="{!Additional_Resource__c.Type__c}"/>            
               </apex:pageBlockSection>
           </apex:pageBlock>
       </apex:form>
</apex:page>