<apex:page sidebar="false" showHeader="false" controller="AddNewProductMeta_CTRL" id="thePage">
<div id = "AddNewProductMetaDIV">
<apex:stylesheet value="{!URLFOR($Resource.CustomStyleSheet,'AdminstyleSheet.css')}"/>
 <script>
     function closeFancyBox(){
           //parent.location.reload(true);
           parent.j$.fancybox.close();
           return false;
        }
        
       window.onload=function() {
           if({!isComplete}){
          
                var activeCatIndex = parent.document.getElementById('j_id0:theform:inptHdn').value;
                var parentURL = removeHashParam(parent.window.location.href); // remove hash location value from parent URL
                var paramsURL = getUrlVars();
                var updateURL;
             
               
                if(paramsURL.length == 0) {
                    updateURL = parentURL +  "?catindex=" + activeCatIndex;  
                } else {
                    var oldActiveCat = getUrlVars()["catindex"];
                        
                    if(oldActiveCat != 'undefined' ){ 
                       updateURL = updateQueryStringParameter(parentURL,"catindex", activeCatIndex);
                    } else {
                        updateURL = parentURL + "&catindex="  + activeCatIndex;      
                    }    
                
                }
                parent.location.href = updateURL  
                /*if(parentURL == updateURL){
                    parent.location.reload(true);  
                } else {
                     
                }*/
           } 
        }

        function removeHashParam(inputURL){
             if(inputURL.indexOf("#") != -1) {
                var start = inputURL.indexOf("#");
                var end;
                if (inputURL.indexOf("&", start) != -1)
                    end = inputURL.indexOf("&", start);
                else
                    end =  inputURL.length; 
                inputURL = inputURL.substring(0, start);
             } 
             return inputURL;
        } 
        
        function getUrlVars() {
            var vars = {};
            var parts = parent.window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                vars[key] = value;
            });
            return vars;
        }
        
        function updateQueryStringParameter(uri, key, value) {
          var re = new RegExp("([?|&])" + key + "=.*?(&|$)", "i");
          separator = uri.indexOf('?') !== -1 ? "&" : "?";
          if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
          }
          else {
            return uri + separator + key + "=" + value;
          }
        }
        



        function showSaveStatus(){
             parent.actionVar = 'save';
             document.getElementById('{!$Component.theForm.theBlock.buttonBlock.saveStatus}').style.display = 'inline';  
             
        }
         function colorPageBlock(pageblock, color) {
            if (pageblock != null) pageblock.firstChild.style.cssText = "background-color: " + color + ";";

        }
        
      function validateProdFeature() {  
        
         if(document.getElementById('errorMsg') && document.getElementById('errorMsg') != null) {
             document.getElementById('errorMsg').style.display = 'none';
             // var textValue = document.getElementById('j_id0:theForm:theBlock:graysection:prodvar:0:sectionItem:prodMeta').value;
             var textValue = document.getElementById('thePage:theForm:theBlock:graysection:prodvar:0:sectionItem:prodMeta').value;
             
             if(textValue == null || textValue == '') {
                 document.getElementById('errorMsg').style.display = 'block';
                 return false;
             }   
             parent.actionVar = 'save';   
             return true; 
         } else {
              document.getElementById('editErrorMsg').style.display = 'none';
              
              // var textValue = document.getElementById('j_id0:theForm:theBlock:graysection1:editsection:editMeta').value;
              var textValue = document.getElementById('thePage:theForm:theBlock:graysection1:editsection:editMeta').value;
             if(textValue == null || textValue == '') {
                 document.getElementById('editErrorMsg').style.display = 'block';
                 return false;
             }   
             parent.actionVar = 'save';   
             return true;   
         } 
     }
     
     
       
  
    </script>
<apex:form id="theForm">
<!-- <apex:PageMessages id="themsg" />  -->
   <apex:pageBlock id="theBlock" title="{!IF(Metaid !=null,'Product Feature Edit','Create New Product Feature')}">

          <apex:pageBlockSection collapsible="false" Title="Create New Product Feature for {!specmeta.Specifications_Meta_Name__c}" rendered="{!IF(SpecificID !=null,true,false)}" id="graysection" columns="1">
               <apex:repeat value="{!prodmetalist}" var="a" id="prodvar" >
                    <!--   <apex:inputfield label="Feature" value="{!a.Product_Meta_Name__c}" /> --> 
                    
                   <apex:pageBlockSectionItem id="sectionItem">
                   <apex:outputLabel value="Feature" for="featurePanel" />
                   <apex:outputPanel >
                   <apex:outputPanel styleClass="requiredInput" layout="block" id="featurePanel">
                      <apex:outputPanel styleClass="requiredBlock" />
                      <apex:inputText value="{!a.Product_Meta_Name__c}" id="prodMeta" required="true" />
                      <div class="errorMsg" id="errorMsg" style="display:none"><strong>Error:</strong> You must enter a value</div>
                   </apex:outputPanel>
                   </apex:outputPanel>
                </apex:pageBlockSectionItem>
               </apex:repeat>
               <!--  
              <script>colorPageBlock(document.getElementById("{!$Component.graysection}"), "gray");</script>
              -->
          </apex:pageBlockSection>
          
          <apex:pageBlockSection collapsible="false" Title="Information " rendered="{!IF(Metaid !=null,true,false)}" id="graysection1">
                 <!-- <apex:inputfield label="Feature" value="{!prodmeta1.Product_Meta_Name__c}"  />  -->
                   <apex:pageBlockSectionItem id="editsection">
                       <apex:outputLabel value="Feature" for="editPanel" />
                       <apex:outputPanel >
                       <apex:outputPanel styleClass="requiredInput" layout="block" id="editPanel">
                           <apex:outputPanel styleClass="requiredBlock" />
                           <apex:inputText value="{!prodmeta1.Product_Meta_Name__c}" id="editMeta"  />
                           <div class="errorMsg" id="editErrorMsg" style="display:none"><strong>Error:</strong> You must enter a value</div>
                       </apex:outputPanel>
                       </apex:outputPanel>
                    </apex:pageBlockSectionItem> 
                    <!--  
                 <script>colorPageBlock(document.getElementById("{!$Component.graysection1}"), "gray");</script>
                 -->
          </apex:pageBlockSection>  
          <apex:pageBlockButtons id="buttonBlock" location="Bottom">
          <!--  
           <apex:commandButton value="Add More Product Meta" action="{!InsertMoreProduct}" rerender="theproduct"/>&nbsp;&nbsp;&nbsp;&nbsp;
           <apex:commandButton value="Remove Product Meta" action="{!RemoveProduct}" rerender="theproduct"/>&nbsp;&nbsp;&nbsp;&nbsp;
          -->
             <apex:commandButton value="OK" action="{!InsertProduct}" id="savebtn" onclick="if(!validateProdFeature()) return false;" />
             <!--  
             <apex:commandButton value="Delete" action="{!DeleteProduct}"  onclick="showSaveStatus();"/>
             -->
             <apex:commandButton value="Cancel" onclick="closeFancyBox();"/>
             <apex:outputLabel id="saveStatus" styleClass="statusmsg" value="Saving..." />
             <apex:outputLabel id="delStatus" styleClass="statusmsg" value="Deleting..." />
           </apex:pageBlockButtons>  
           
           
    </apex:pageBlock>
</apex:form>
</div>
</apex:page>