<apex:page controller="EditCategory" sidebar="false" showHeader="false">
<div id="editCategory">
<apex:stylesheet value="{!URLFOR($Resource.CustomStyleSheet,'AdminstyleSheet.css')}"/>
<style type="text/css">
  .ui-state-active { 
        background-color: #8B8484 !important;
    }
   table.appList tr.hiliteInner td {
    background: #B1B1B1;
    color: #fff;
}
</style>
<apex:form id="theform" >
<!--  new j query---->
<apex:includeScript value="{!URLFOR($Resource.JqueryPackage, '/jquery-ui-1.10.3.custom/js/jquery-1.9.1.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.JqueryPackage, '/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.JqueryPackage, '/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js')}"/>
<apex:stylesheet value="{!URLFOR($Resource.JqueryPackage, '/jquery-ui-1.10.3.custom/css/ui-lightness/jquery-ui-1.10.3.custom.css')}"/>
    <script type="text/javascript">
        var j1$ = jQuery.noConflict();
        j1$(document).ready(function() {
                if({!isComplete}){
                    parent.parent.actionVar = 'save';
                    parent.parent.j$.fancybox.close();  
                    return; 
                } 
                j1$(function() {
                   //var activeindex={isComplete1};
                   /** set accordian index **/
                    var catindex = getUrlVars()["catindex"];
                   
                    if(catindex != undefined && catindex != ''){
                        document.getElementById('{!$Component.inptHdn}').value = catindex;
                        j1$( "#accordion" ).accordion({ collapsible: true,autoHeight: false, heightStyle: "content" });
                       j1$( "#accordion" ).accordion({ active: parseInt(catindex) });
                        document.location.href = "#acc-" + catindex; 
                       } else {
                        var actFeatIndex = document.getElementById('{!$Component.inptHdn}').value;
                        if(actFeatIndex != undefined && actFeatIndex != ''){
                            j1$( "#accordion" ).accordion({ collapsible: true,autoHeight: false, heightStyle: "content" });
                            j1$( "#accordion" ).accordion({ active: parseInt(actFeatIndex) });  
                            document.location.href = "#acc-" + actFeatIndex; 
                        } else {
                            j1$( "#accordion" ).accordion({ collapsible: true,autoHeight: false, heightStyle: "content" }); 
                           j1$( "#accordion" ).accordion({ active: false });       
                        }
                    } 
                    /* set accordian index */
                });
                
              
                
                
                j1$('#accordion input[type="checkbox"]').click(function(e) {
                     e.stopPropagation();
                });
               
                j1$('table.appList tr').click(function () {
                  j1$(this).siblings('tr').removeClass('hiliteInner');
                  j1$(this).toggleClass('hiliteInner');
                });
        
                 j$('div.catClass').click(function () {                 
                     j$('div.catClass').removeClass('hilite'); 
                     j$(this).toggleClass('hilite');                    
                });
                
                j$('div.catClassInner').click(function () {                 
                     j$('div.catClass').removeClass('hilite'); 
                     j$(this).toggleClass('hilite');                    
                });
                    
                   
                  
        });
      
        function setSelApp(appid){
           //document.getElementById('{!$Component.selAppId}').value = appid;
       } 
      
        
       function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                vars[key] = value;
            });
            return vars;
        }
        
         function updateQueryStringParameter(uri, key, value) {
          var re = new RegExp("([?|&])" + key + "=.*?(&|$)", "i");
          separator = uri.indexOf('?') !== -1 ? "&" : "?";
          if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
          }
          else {
            return uri + separator + key + "=" + value;
          }
        }
        
        
       function RefreshAppPanel(){
          setSelApp("");    
          getAppPanel(); 
       }  
      function ParentWindowFunction(){
         getAppPanel();
      }
       function rowClick(objectType, recordId, recordName, activeIndex) {
           //var activeindex = j1$('#accordion').accordion('option', 'active');
           if(activeIndex != '' && activeIndex != 'undefined'){
               document.getElementById('{!$Component.inptHdn}').value = activeIndex;
               if(objectType != undefined && objectType != '') {
                   if(objectType == 'productmeta') {
                       document.getElementById('{!$Component.selAppId}').value = recordId;
                       document.getElementById('hiddenAppName').value = recordName;
                   }
                   else if(objectType == 'prodfeatcat') {
                        document.getElementById('{!$Component.hiddenProdFeatId}').value = recordId;
                         document.getElementById('hiddenProdFeatName').value =  recordName;
                   } 
               } 
           }
       } 
       function confirmDelete(){
           var metaId = document.getElementById('{!$Component.selAppId}').value;
           if(metaId != undefined && metaId != ''){
               var hiddenApName =  document.getElementById('hiddenAppName').value;
               var confirmData = confirm("Are you sure that you want to delete selected Product Feature :" + hiddenApName + " ?");
               return confirmData;
           }
           return false;
       }
     
     
     function confirmCategoryDelete(){
           var categoryId = document.getElementById('{!$Component.hiddenProdFeatId}').value;           
           if(categoryId != undefined && categoryId != ''){            
               var hiddenProdFeatName =  document.getElementById('hiddenProdFeatName').value;              
               var confirmData = confirm("Are you sure that you want to delete selected Product Feature category :" + hiddenProdFeatName + " ?");
               return confirmData;
           }
           return false;
       }
       
       function showSaveStatus() {
            parent.parent.actionVar = 'save';
       }
  
        function checkAllMeta(cb, index)
        {
            j$("div#panel-" + index + " input:checkbox").attr('checked', cb.checked); 
        }    
      
      
      </script>
<apex:pagemessages />
<div class="EditCategory" id="EditCategory">
   
          <!-- input hidden code for refresh purpose start here--->
             <apex:inputHidden value="{!selApp}" id="selAppId"/>
             <apex:inputHidden value="{!iscomplete2}" id="inptHdn"/>
             <apex:inputHidden id="hiddenProdFeatId" value="{!selProdFeatId}"/>
             <input type="hidden" id="hiddenAppName"/>            
             <input type="hidden" id="hiddenProdFeatName"/>
             <apex:actionFunction name="refreshWrapCat" action="{!refreshCatList}" reRender="categorypanel" oncomplete="closePrdtMetaBox();"  /> <!--  oncomplete="closePrdtMetaBox();" -->
             <apex:actionFunction name="getAppPanel"   reRender="catWrapPanel"  /> 
         
          <!-- input hidden code for refresh purpose End here--->
          
         
     <apex:pageBlock id="theblock" title="{!IF($CurrentPage.parameters.Id == CategoryID, 'Product Group Maintenance', 'Product Group Maintenance')}">
       <div class="pbSubheader brandTertiaryBgr first tertiaryPalette">
             <h3>Information</h3>
          </div>
     <!--above portion start-->
     
             <div  class="div1">
                  <table border="0" width="100%" >
                           <tr>
                                <td class="div2td1" >Product Group</td><td class="div2td2" ><apex:inputtext value="{!prodcat.Product_Category_Name__c}"/></td>
                                <td class="div2td2">Enabled<apex:inputCheckbox value="{!prodcat.isActive__c}"/></td>
                           </tr>
                   </table> 
               </div>
              <div class="feature">Features</div>
                  <div class="pluswrapper">
                      <div class="addButton">
                          <a class="various4"  href="apex/NewProductFeature?catid={!prodcat.id}" >+</a> 
                      </div>
                      <div class="addButton" > 
                          <apex:commandLink styleClass="delbtn" id="delbtn" onclick="if(!confirmCategoryDelete()) return false;" action="{!delproductfeatureCategory}" value="-" >
                          </apex:commandLink>
                                    
                      </div>
                </div>
   <!--above portion End-->
       <apex:outputPanel id="categorypanel" layout="block">
        <div id="accordion">
                <apex:variable var="countCat" value="{!0}"/>
                    <apex:repeat value="{!wrapperlist}" var="app">
                    <div class="catClass" onclick="rowClick('prodfeatcat', '{!app.prodfeat.Id}','{!app.prodfeat.Specifications_Meta_Name__c}', '{!countCat}');" id="{!app.prodfeat.id}">
                     <h3 class="appcatg" for ="ac-{!countCat}"  id="acc-{!countCat}">
                                        {!app.prodfeat.Specifications_Meta_Name__c}
                                        <a href="apex/EditProductFeature?catid={!app.prodfeat.id}" id="meta-{!app.prodfeat.Id}" class="appclass" target="_top" style="display:none;"> </a>
                                        <apex:inputCheckbox id="checbx" styleClass="feature" style="float:right;" value="{!app.Isselectedspec}" onclick="checkAllMeta(this, '{!countCat}');"></apex:inputCheckbox> 
                     </h3>
                     <script>
                            if('{!$CurrentPage.parameters.ftrId}' == '{!app.prodfeat.Id}'){
                                document.getElementById('{!$Component.inptHdn}').value = '{!countCat}';        
                            }
                     </script>
                    </div>
                  
                      
                     <div id="panel-{!countCat}" style="position:relative">
                         <span class="pluswrapper accrodionaPlusWrapper"> 
                            <!-- button block for product meta add/delete - start-->
                                 <a class="various3 addButton" href="apex/AddNewProductMeta?Specid={!app.prodfeat.id}" >+</a>
                                 <apex:commandLink styleClass="addButton" id="delbtn" onclick="if(!confirmDelete()) return false;" action="{!delSelMeta}" value="-" >
                                     <apex:param name="categoryTab" value="{!app.prodfeat.Id}}"/>
                                 </apex:commandLink>
                             <!-- button block for product meta - end-->
                         </span>
                         <p>
                            <table  border="0" cellspacing="0" cellpadding="0"  width="100%" id="ac-{!countCat}" class="dataScreenAccordian  appList">
                                <apex:repeat value="{!app.prodmeta}" var="appitem">
                                  <tr onclick="rowClick('productmeta', '{!appitem.Id}', '{!JSENCODE(appitem.Product_Meta_Name__c)}','{!countCat}');">
                                      <td width="50%" class="appItem" id="{!appitem.Id}">{!appitem.Product_Meta_Name__c} 
                                     <a href="/apex/AddNewProductMeta?metaid={!appitem.Id}" id="app-{!appitem.Id}" class="appClass1" target="_top" style="display:none;" ></a>
                                   </td> 
                                    <td style="width=50%;text-align:right; height:33px;" ><apex:inputCheckbox value="{!appitem.isActive__c}" id="checkboxes"/></td>
                                  </tr>
                                </apex:repeat>
                            </table>
                        </p>
                   </div>
                   <apex:variable var="countCat" value="{!countCat + 1}"/>  
                   </apex:repeat>
          </div>
           </apex:outputPanel>
          <apex:pageBlockButtons location="Bottom" id="bottombutton">
              <apex:commandButton value="OK" action="{!ok}" />
              <apex:commandButton value="Cancel" onclick="closeFancyBox();"/>
          </apex:pageBlockButtons>
    </apex:pageBlock>
   </div>      

<script type="text/javascript" src="{!URLFOR($Resource.facnybox, '/jquery.fancybox-1.3.4/jquery-1.4.3.min.js')}"></script> 
<script type="text/javascript" src="{!URLFOR($Resource.facnybox, '/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.js')}"></script> 
<link rel="stylesheet"  href="{!URLFOR($Resource.facnybox, '/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css')}" type="text/css" media="screen" />
<script type="text/javascript">
        var j$ = jQuery.noConflict();
        j$(document).ready(function() {
            applyFancyBox();  
            
        });
        
     function applyFancyBox(){
         j$("a.various3, a.appclass,a.appClass1").fancybox({
                'width'             : 400,
                'height'            : 184,
                'autoScale'         : false,
                'scrolling'         : 'No',
                'transitionIn'      : 'none',
                'transitionOut'     : 'none',
                'type'              : 'iframe',
                
            });
            j$("a.various4").fancybox({
                'width'             : 400,
                'height'            : 184,
                'autoScale'         : false,
                'scrolling'         : 'No',
                'transitionIn'      : 'none',
                'transitionOut'     : 'none',
                'type'              : 'iframe',
                
            });
            j$("div.catClass").dblclick(function() {
                var appLink = 'meta-' + j$(this).attr("id");
                j$("#" + appLink).click();           
            });
            
            /*j$("h3.appcatg").dblclick(function() {
                var appLink = 'meta-' + j$(this).attr("id");
                j$("#" + appLink).click();           
            });*/
             
           
             j$("td.appItem").dblclick(function() {
                var appLink = 'app-' + j$(this).attr("id");
                j$("#" + appLink).click();               
            });
     }   
       
      function closeFancyBox(){
           // parent.parent.actionVar = 'cancel'; 
            parent.parent.j$.fancybox.close();
            j1$( "#accordion" ).accordion({ collapsible: true,autoHeight: false, heightStyle: "content" }); 
            j1$( "#accordion" ).accordion();
            return false;
        }
        /*window.onload=function(){
         
           if({!isComplete}){
                parent.parent.actionVar = 'save';
                parent.parent.j$.fancybox.close();   
           } 
        }*/
         
        function closePrdtMetaBox(){
            j$.fancybox.close();
            applyFancyBox();
            j1$( "#accordion" ).accordion({ collapsible: true,autoHeight: false, heightStyle: "content" }); 
            j1$( "#accordion" ).accordion();  
        }
     
    </script>
    </apex:form>
</div>
</apex:page>