<apex:page controller="NewProductFeature_CTRL" showHeader="false" sidebar="false">
<div id="productfeatureNewDIV"> 
<apex:stylesheet value="{!URLFOR($Resource.CustomStyleSheet,'AdminstyleSheet.css')}" />

 <script>
     function closeFancyBox(){
           parent.j$.fancybox.close();
           parent.location.reload(true);
           return false;
        }
        
        window.onload=function(){
           if({!isComplete}){
                var parentURL = parent.window.location.href;
                var paramsURL = parent.getUrlVars();
                var updateURL;
                // if there is no parameter add ftrId parameter
                if(paramsURL.length == 0) {
                    updateURL = parentURL +  "?ftrId={!Specmetalist[0].Id}";    
                } else {
                    //if there is already ftrId in the parameter, update ftrId
                    var oldFtrId = parent.getUrlVars()["ftrId"];
                    if(oldFtrId != 'undefined' ){ 
                       updateURL = parent.updateQueryStringParameter(parentURL,"ftrId", "{!Specmetalist[0].Id}");
                    } else {
                        updateURL = parentURL + "&ftrId={!Specmetalist[0].Id}";   
                    }    
                }
                if(parentURL == updateURL){
                     parent.location.reload(true);  
                } else {
                    parent.location.href = updateURL;  
                }
           } 
        }
        
        function showSaveStatus(){
             parent.actionVar = 'save';
             document.getElementById('{!$Component.theForm.theBlock.buttonBlock.saveStatus}').style.display = 'inline';  
             return false; 
        }
       
       function colorPageBlock(pageblock, color){
           if (pageblock != null) pageblock.firstChild.style.cssText = "background-color: " + color + ";";
       }
        
     function validateCategory() {  
         document.getElementById('errorMsg').style.display = 'none';
         var textValue = document.getElementById('j_id0:theForm:theBlock:graysection:thespec:0:sectionItem:specMeta').value;
         if(textValue == null || textValue == '') {
             document.getElementById('errorMsg').style.display = 'block';
             return false;
         }   
         parent.actionVar = 'save';   
         return true;    
     }
        
    </script>
<apex:form id="theForm">
<!--  <apex:PageMessages id="themsg" /> -->
    <apex:pageBlock id="theBlock" title="Create New Product Feature Category">  
       <apex:pageBlockSection title="New Feature Category for {!prodcat.Product_Category_Name__c}" collapsible="false" id="graysection" columns="1">
        
           <apex:repeat value="{!Specmetalist}" var="a" id="thespec"> 
                  <apex:pageBlockSectionItem id="sectionItem">
                       <apex:outputLabel value="Feature Category" for="categoryPanel" />
                       <apex:outputPanel >
                       <apex:outputPanel styleClass="requiredInput" layout="block" id="categoryPanel">
                          <apex:outputPanel styleClass="requiredBlock" />
                          <apex:inputText value="{!a.Specifications_Meta_Name__c}" id="specMeta" required="true" />
                          <div class="errorMsg" id="errorMsg" style="display:none"><strong>Error:</strong> You must enter a value</div>
                       </apex:outputPanel>
                       </apex:outputPanel>
                </apex:pageBlockSectionItem>
           </apex:repeat>
<!--  
            <script>colorPageBlock(document.getElementById("{!$Component.graysection}"), "gray");</script>
            -->
        </apex:pageBlockSection>
          <apex:pageBlockButtons id="buttonBlock" location="Bottom">
          <!--  
           <apex:commandButton value="Add More Specification" action="{!InsertMoreSpecification}" rerender="thespec"/>&nbsp;&nbsp;&nbsp;&nbsp;
           <apex:commandButton value="Remove Specification" action="{!RemoveSpecification}" rerender="thespec"/>&nbsp;&nbsp;&nbsp;&nbsp;
           -->
           <apex:commandButton value="OK" action="{!InsertSpecification}"  onclick="if(!validateCategory()) return false;"/>&nbsp;&nbsp;&nbsp;&nbsp;
           <apex:commandButton value="Cancel" onclick="closeFancyBox();" />
           </apex:pageBlockButtons>     
    </apex:pageBlock>
</apex:form>
</div> 
</apex:page>