<apex:page controller="opportunityDemo">
    <apex:form >
        <!-- <apex:pageBlock mode="edit">
            <apex:pageBlockButtons >
                <apex:commandButton action="{!save}" value="Save"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="Dependent Picklists" columns="3">
            <apex:inputField value="{!opportunity.name}" />
            <apex:inputField value="{!opportunity.type}" />
            <apex:inputField value="{!opportunity.Stagename}" />
            <apex:inputField value="{!opportunity.Probability}" />
            <apex:inputField value="{!opportunity.Select_Competitor_that_Won_Order__c}" />
  <apex:inputField value="{!opportunity.Competitor_Instrument_Type__c}" />
            </apex:pageBlockSection>
        </apex:pageBlock> -->
        
        <apex:repeat value="{!oppList}" var="opp">
              <apex:inputField value="{!opp.stagename}" style="display:none"/>
              <apex:inputField value="{!opp.Select_Competitor_that_Won_Order__c}"/>
              <apex:inputField value="{!opp.Competitor_Instrument_Type__c}"/>
        </apex:repeat>
        <!--
        <apex:pageBlock >
          <apex:pageBlockTable value="{!oppList}" var="opp">
          <apex:column >
              <apex:inputField value="{!opp.stagename}" />
          </apex:column>
          <apex:column >
              <apex:inputField value="{!opp.Select_Competitor_that_Won_Order__c}"/>
          </apex:column>
          <apex:column >
              <apex:inputField value="{!opp.Competitor_Instrument_Type__c}"/>
          </apex:column>
          
          </apex:pageBlockTable>
        </apex:pageBlock>
        -->
                                                                                                                                                                                                                                                                                                    
    </apex:form>
</apex:page>