<apex:page showHeader="false" sidebar="false" standardStylesheets="false">  

<script language="javascript">

    function refresh_win()
    {
       var xmlHttp = null;
    
       xmlHttp = new XMLHttpRequest();
       xmlHttp.open( 'GET', 'https://absciex.force.com/Partners/dash/dashboardRefresh.apexp?id=01ZF0000000aiUS', false );
       xmlHttp.send( null );
       console.log( xmlHttp.responseText );
       xmlHttp.open( 'GET', 'absciex.force.com/Partners/dash/dashboardRefresh.apexp?id=01ZF0000000aiUS', false );
       xmlHttp.send( null );
       alert('Refreshing Dashboard');  
           setTimeout('self.close();',2000);  
           setTimeout('parent.location.reload();',1000); 
       console.log( xmlHttp.responseText );
    }

</script>
 
<form>  
    <input type="button" value="Refresh" onclick="refresh_win()"/>  
</form> 

</apex:page>