<apex:page controller="QuotingController" id="pg" sidebar="false">
<script src="/soap/ajax/13.0/connection.js" type="text/javascript"></script>

 <script type="text/javascript" src="{!$Resource.jQuery}"></script>

 <script type="text/javascript">
  function selectDeselect(value){
    var chkbox = document.getElementsByName('chk');
    for(var sno = 0; sno < chkbox.length; sno++){
       chkbox[sno].checked = value;
    }    
    return false;   
  }
  
  function checkAllCodes(){
    if($('.hierAll').attr('checked') == 'false' || $('.hierAll').attr('checked') == ''){
      $('.hierChecks').attr('checked', '');
    }else{
      $('.hierChecks').attr('checked', 'true');
    }
  }
 </script> 
 <apex:include pageName="QuoteCSS"/>
    <!-- ============================================================== -->
    <!-- ===================== SEARCH  ================================ -->
    <!-- ============================================================== -->
    <apex:sectionHeader title="Product Information" subtitle="Product Heirarchy Search"/>
      <apex:form id="frm1" >
		<apex:inputHidden id="hdnheir_igorCode" value="{!IGORCodeHiddenValue}"/>
		<apex:inputHidden id="hdnheir_igorCodeDesc" value="{!IGORCodeDescHiddenValue}"/>
      
        <apex:actionStatus id="status"  startStyle="font-weight:bold; color:red;" startText="Searching product hierarchy, please wait..."/>
        <apex:pageBlock title="Search Options" id="pageBlock1">        
          <apex:pageBlockSection id="pageBlockSection1">
                        
			      <apex:pageBlockSectionItem id="pgBlockSectionItem1" >
			        <apex:outputLabel value="Product Line" for="heir_productLine"/>
			        
			        <apex:selectList id="heir_productLine" value="{!ProductLineValue}" multiselect="false" size="1">
			            <apex:selectOptions value="{!ProductLine}"/>
			        </apex:selectList>
			     </apex:pageBlockSectionItem>
			     <apex:pageBlockSectionItem id="pgBlockSectionItem2" >
			        <apex:outputLabel value="IGOR Item Class" for="heir_igorClass" id="outputpanel1"/>
			        <apex:selectList id="heir_igorClass" value="{!IGORItemClassValue}" multiselect="false" size="1">
			            <apex:selectOptions value="{!IGORItemClass}"/>
			        </apex:selectList>
			      </apex:pageBlockSectionItem>
      
			      <apex:pageBlockSectionItem id="pgBlockSectionItem3" rendered="false">
			        <apex:outputLabel value="Product Line Desc" for="hier_pLineDesc"/>
			        <apex:selectList id="heir_pLineDesc" value="{!ProductLineDescValue}" multiselect="false" size="1">
			            <apex:selectOptions value="{!ProductLineDesc}"/>
			        </apex:selectList>
			      </apex:pageBlockSectionItem>
      
			      <apex:pageBlockSectionItem id="pgBlockSectionItem4" rendered="false">
			        <apex:outputLabel value="IGOR Item Class Desc" for="hier_igorClassDesc"/>
			        <apex:selectList id="heir_igorClassDesc" value="{!IGORItemClassDescValue}" multiselect="false" size="1">
			            <apex:selectOptions value="{!IGORItemClassDesc}"/>
			        </apex:selectList>
			        
			      </apex:pageBlockSectionItem>
      
			      <apex:pageBlockSectionItem id="pgBlockSectionItem5">
			        <apex:outputLabel value="Plan Code" for="hier_planCode"/>
			        <apex:selectList id="heir_planCode" value="{!PlanCodeValue}" multiselect="false" size="1">
			            <apex:selectOptions value="{!PlanCode}"/>
			        </apex:selectList>
			      </apex:pageBlockSectionItem>
			      
			      <apex:pageBlockSectionItem id="pgBlockSectionItem6" >
			        <apex:outputLabel value="IGOR Code" for="hier_igorCode"/>
			        <apex:outputPanel id="igorListOutput">
		 	        <apex:selectList id="heir_igorCode" value="{!IGORCodeValue}" multiselect="false" size="1">
			        	<apex:selectOptions value="{!iGORCode}"/>
			        	<apex:actionSupport event="onchange" rerender="igorListOutput" status="igorReload"/>
			        </apex:selectList>
			        <apex:actionStatus id="igorReload" startText="(loading...)"/>
			        </apex:outputPanel>			                
			      </apex:pageBlockSectionItem>
     
			      <apex:pageBlockSectionItem id="pgBlockSectionItem7" rendered="false">
			        <apex:outputLabel value="Plan Code Desc" for="hier_planCodeDesc"/>
			        <apex:selectList id="heir_planCodeDesc" value="{!PlanCodeDescValue}" multiselect="false" size="1">
			            <apex:selectOptions value="{!PlanCodeDesc}"/>
			        </apex:selectList>
			      </apex:pageBlockSectionItem>
			      
			      <apex:pageBlockSectionItem id="pgBlockSectionItem8" rendered="false">
			        <apex:outputLabel value="IGOR Code Desc" for="hier_igorCodeDesc"/>
			        <apex:selectList id="heir_igorCodeDesc" value="{!IGORCodeDescValue}" multiselect="false" size="1" onchange="updateHiddenIgorDescValue(this);">
			            <apex:selectOptions value="{!IGORCodeDesc}"/>
			        </apex:selectList>
			      </apex:pageBlockSectionItem>

			      <apex:pageBlockSectionItem id="pgBlockSectionItem9">
			      </apex:pageBlockSectionItem>
      
          </apex:pageBlockSection>
          <apex:pageBlockButtons >
	          <apex:commandButton id="cmdSearch" action="{!searchProductHierarchy}" value="Search" />
              <!--  <apex:commandButton id="cmdSearch" action="{!searchProductHierarchy}"  rerender="outputpanelResults" status="status" value="Search" /> -->
              <apex:commandButton id="cmdCancel" action="{!QuoteProductSearch}" value="Cancel"/>
         </apex:pageBlockButtons>
      </apex:pageBlock>


  </apex:form>
   <apex:form id="frm2"> 
   <!-- 
   <apex:pageBlock title="Results" id="pageBlock2"> -->
    <!-- ============================================================== -->
    <!-- ===================== BUTTONS  =============================== -->
    <!-- ============================================================== -->
    <!-- <apex:pageBlockButtons >
                  <apex:commandButton action="{!returnCodeToProductSearch}" value="Add Code to Product Search"/>
    </apex:pageBlockButtons> -->

    <!-- ============================================================== -->
    <!-- ===================== RESULTS  =============================== -->
    <!-- ============================================================== -->
    <!-- <apex:outputPanel id="outputpanelResults">   
          <input type="checkbox" name="hierAll" class="hierAll" onclick="checkAllCodes();"/>
          <apex:outputLabel value="Select All"/>
       <apex:dataTable value="{!SearchResults}" var="PHresult" id="quoteTable" rowClasses="odd,even" rendered="{!NOT(ISNULL(SearchResults))}" styleClass="quoteTable">
          <apex:column >
           <apex:facet name="header">Select  </apex:facet>
               <input type="checkbox" class="hierChecks" name="chk{!PHresult.IGOR_CODE__c}" value="{!PHresult.IGOR_CODE__c}" /> 
          </apex:column>

           <apex:column >
           <apex:facet name="header"> IGOR CODE </apex:facet>
               <apex:outputText value="{!PHresult.IGOR_CODE__c}"/>
           </apex:column>

           <apex:column >
           <apex:facet name="header"> IGOR Code Desc </apex:facet>
               <apex:outputText value="{!PHresult.IGOR_CODE_DESCRIPTION__c}"/>
           </apex:column>

           <apex:column >
           <apex:facet name="header"> IGOR Class </apex:facet>
               <apex:outputText value="{!PHresult.IGOR_ITEM_CLASS__c}"/>
           </apex:column>

          <apex:column >
              <apex:facet name="header"> IGOR Class Desc </apex:facet>
              <apex:outputText value="{!PHresult.IGOR_ITEM_CLASS_DESC__c}"/>
              </apex:column>

          <apex:column >
          <apex:facet name="header"> Plan Code </apex:facet>
              <apex:outputText value="{!PHresult.PLAN_CODE__c}"/>
          </apex:column>

          <apex:column >
          <apex:facet name="header"> Plan Code Desc </apex:facet>
              <apex:outputText value="{!PHresult.PLAN_CODE_DESC__c}"/>
          </apex:column>

          <apex:column >
          <apex:facet name="header">Prd Line</apex:facet>
              <apex:outputText value="{!PHresult.PRODLINE__c}"/>
          </apex:column>

          <apex:column >
          <apex:facet name="header">Prd Line Desc</apex:facet>
              <apex:outputText value="{!PHresult.PRODLINE_DESC__c}"/>
          </apex:column>
      </apex:dataTable>

     </apex:outputPanel> -->
    <!-- </apex:pageBlock>  -->          
    <!-- <apex:inputhidden id="hdnSelectedIgorCode" value="{!IGORCodeValue}" /> -->    
   </apex:form>
   <script>
	$(document).ready(function(){
		var query = "Select Igor_Code__c, Igor_Code_Description__c from Product_Hierarchy__c order by Igor_Code__c";
		//sforce.connection.sessionId = '{!$Api.Session_ID}';
		//sforce.connection.query(query,
	  	//	{ onSuccess: loadIgorCodes, onFailure: showFailure } );
	});
	
	function loadIgorCodes(result) {
		var selElem = document.getElementById("{!$Component.frm1.pageBlock1.pageBlockSection1.pgBlockSectionItem6.heir_igorCode}");
		var selElem2 = document.getElementById("{!$Component.frm1.pageBlock1.pageBlockSection1.pgBlockSectionItem8.heir_igorCodeDesc}");
		selElem.options.length=1; 
		selElem2.options.length=1;
		var it = new sforce.QueryResultIterator(result);
		
		while (it.hasNext()) {
			var record = it.next();
			var type = record.get("IGOR_CODE__c");
			var desc = record.get("IGOR_CODE_DESCRIPTION__c");
			var option = document.createElement("option");
			option.value=type;
			option.text=type;
			selElem.options.add(option);
			var option2 = document.createElement("option");
			option2.value=desc;
			option2.text=desc;
			selElem2.options.add(option2);
		}
		
	}
	function showFailure(result) {
		var selElem = document.getElementById("{!$Component.frm1.pageBlock1.pageBlockSection1.pgBlockSectionItem6.heir_igorCode}");	
		var option = document.createElement("option");
		option.value="";
		option.text="--None--";
		option.setAttribute("selected","selected");
		selElem.options.add(option, 0);

	}
	
	function updateHiddenIgorValue(element) {
		var hiddenElem = document.getElementById("{!$Component.frm1.hdnheir_igorCode}");	
		hiddenElem.value = element.value;
		element.options[element.selectedIndex].value="";
	}

	function updateHiddenIgorDescValue(element) {
		var hiddenElem = document.getElementById("{!$Component.frm1.hdnheir_igorCodeDesc}");	
		hiddenElem.value = element.value;
		element.options[element.selectedIndex].value="";
	}
	
	</script>   
</apex:page>