<apex:page controller="sendanenquiry" showHeader="false" sidebar="false">
<apex:stylesheet value="{!URLFOR($Resource.CIPStyleSheet,'styleSheet.css')}"/>  
  <style>
   .pbTitle {
    text-shadow: 2px 1px 3px #6d6d6d;
    color: #fff!important;
    font-size: 11px !important;
    padding-left: 10px !important;
    background: #38BADC!important;
    text-align: left;
    border: 0px;
    border-spacing: 2px;
    padding:10px;
}

.buttn{
     margin-left: 3px;
    margin-right: 3px;
    color: #333;
    border: 1px solid #b5b5b5;
    border-bottom-color: #7f7f7f;
    padding: 9px 13px !important;
    height: inherit !important;
    }
</style>
  <script type="text/javascript">
 
   function CloseWindow()
   {
      var winMain=window.opener;
      if (null==winMain)
      {
         winMain=window.parent.opener;
      }
      winMain.closeLookupPopup3();
   } 
   </script>
  
  <apex:form id="sendEnquiryForm"> 
     <table border="0" cellpadding="0" cellspacing="0" width="100%">  
       <th class="pbTitle">
           <apex:outputText value="Send Enquiry" /><br/>
           <apex:outputText value="{!$User.FirstName} {!$User.LastName}"/>
       </th>
       <tr>
       <td>
       <table  cellpadding="0" cellspacing="0" width="100%" border="0" class="backgroundpopup" >
            <tr>
                <td>
                    <apex:outputText value="AB Sciex Product: "/> <apex:outputText value="{!pck.Product__r.Name}"/><br/>
                    <apex:outputText value="Competitor Product: "/> <apex:outputText value="{!pck.Competitor_Product__r.Name}"/><br/>
                    <apex:outputText value="Application: "/> <apex:outputText value="{!pck.Application_Variants__r.Application_Variant_Name__c}"/><br/>
                    <apex:outputText value="Persona: "/> <apex:outputText value="{!pck.Persona__r.Persona_Name__c}"/><br/>
                </td>
            </tr>
            <th>
                <apex:outputText value="Send question about this package" />
            </th>
            <tr>
                <td>
                    <apex:inputTextarea value="{!enquiry}" style="width:304px; height:200px;"/> 
                </td>
            </tr>
            <tr>
                <td class="floatright marginright20">
                      <apex:commandButton value="Send" action="{!sendenquiry}" oncomplete="CloseWindow()" styleClass="buttn"/>
                </td>
            </tr>
      </table>
      </td>
      </tr>
    </table>  
  </apex:form>
</apex:page>